{% extends 'base.html' %}
{% set active_page = "butter" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<center>
<h2>Total sticks of butter in stock: {{ total_sticks }}</h2>
</center>
</div>


<div class="row">
  {% for b in butter %}

   <div class="col-md-4 col-lg-4 col-sm-12">
     <div class="card full-height shadow-lg p-3 mb-5 bg-white rounded">
     
        <div class="card-body">
                  <center>
                    <p class="card-text"> 
                      <dl>
                      <dt><h3>Cow Id: {{ b.cow_id}}</h3></dt>
                      <dd>Carton: {{ b.carton }}</dd>
                      <dd>Churner: {{ b.churner}}</dd>
                      <dd>Number of sticks: {{ b.number_sticks}}</dd>
                      <dt>Expiration:</dt>
                      <dd>{{ b.expiration_date }}</dd>
                      </dl>
                    </p>
                  </center>
                </div>
        </div>
  
      </div>
 
  {% endfor %}
</div>

{% endblock %} 
